<!DOCTYPE html>
<html>
  <head>
    <title>SampleRails7</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "turbo", type: "module" %>
  </head>

  <body>
    <%= link_to 'Top', root_path %>
    <%= link_to 'New', lists_new_path %>
    <%= link_to 'Index', lists_index_path %>

    <%= yield %>

  </body>
</html>
